
*.tlog
*.log
*.obj
build/.vs/edPush/v15/.suo
*.db
*.opendb
*.db-shm
*.db-wal
*.vcxproj
*.filters
*.user
*.cmake
*.bin
*.c
*.exe
build/CMakeFiles/3.11.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.11.2/VCTargetsPath.txt
build/CMakeCache.txt
build/CMakeFiles/ae1a0fca9a6700ca0b7b29be800cae82/generate.stamp.rule
*.rule
*.check_cache
*.stamp
*.cxx
*.depend
*.list
build/CMakeFiles/TargetDirectories.txt
*.exp
*.ilk
build/Debug/edPush.lib
build/Debug/edPush.mll
build/Debug/edPush.pdb
*.pdb
build/Release/edPush.lib
build/Release/edPush.mll
*.pyc
*.ipch
*.mll
include/*

build/.vs/edPlugin/v15/ipch/AutoPCH/ad673cd3617a0de/EDPUSH.ipch
build/.vs/edPlugin/v15/.suo
build/.vs/edPlugin/v15/.suo
build/Release/edPlugin.mll
build/.vs/edPlugin/v15/.suo
build/.vs/edPlugin/v15/.suo
build/Release/edPlugin.mll
build/.vs/edPlugin/v15/.suo
*.mll
scenes/memoryTest.ma
scenes/memoryTest_v002.ma
scenes/memoryTest_v003.ma
scenes/memoryTest_v002.maa05920
